---
---


.tabulation {
    margin-left: 25px;
}

.about-section {
    margin-bottom: 50px;
}

/**
 * HEADER
 */
    .intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
      padding: 100px 0;
    }
    .intro-header--post {
      background: no-repeat bottom right 30px #808080;;
      background-size: auto;
    }
    .heading-title {
        padding: 20px;
        background-color: rgba(0,0,0,0.3);
        text-align: center;
    }
    .intro-header .post-heading .subheading {
        font-weight: normal;
        font-size: 20px;
    }