---
---


.tabulation {
    margin-left: 25px;
}

.about-section {
    margin-bottom: 50px;
}

/**
 * HEADER
 */
    .intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
        padding: 100px 0;
    }
    .heading-title {
        padding: 20px;
        background-color: rgba(0,0,0,0.3);
    }
    .intro-header .post-heading .subheading {
        font-weight: normal;
        font-size: 20px;
    }