<div class="documentation-nav">
  <section class="nav-section">
    <h1>Getting started</h1>
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="{% if page.section == 'introduction' %}active{% endif %}"><a href="/ohmycache/">Introduction</a></li>
      <li role="presentation" class="{% if page.section == 'exemples' %}active{% endif %}"><a href="/ohmycache/examples">Examples</a></li>
      <li role="presentation" class="{% if page.section == 'installation' %}active{% endif %}"><a href="/ohmycache/installation">Installation</a></li>
    </ul>
  </section>

  <section class="nav-section">
    <h1>API</h1>
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="{% if page.section == 'classes' %}active{% endif %}"><a href="/ohmycache/classes">Classes</a></li>
      <li role="presentation" class="{% if page.section == 'set' %}active{% endif %}"><a href="/ohmycache/set">set</a></li>
      <li role="presentation" class="{% if page.section == 'get' %}active{% endif %}"><a href="/ohmycache/get">get</a></li>
      <li role="presentation" class="{% if page.section == 'getAll' %}active{% endif %}"><a href="/ohmycache/getAll">getAll</a></li>
      <li role="presentation" class="{% if page.section == 'keys' %}active{% endif %}"><a href="/ohmycache/keys">keys</a></li>
      <li role="presentation" class="{% if page.section == 'remove' %}active{% endif %}"><a href="/ohmycache/remove">remove</a></li>
      <li role="presentation" class="{% if page.section == 'clear' %}active{% endif %}"><a href="/ohmycache/clear">clear</a></li>
      <li role="presentation" class="{% if page.section == 'isExpired' %}active{% endif %}"><a href="/ohmycache/isExpired">isExpired</a></li>
      <li role="presentation" class="{% if page.section == 'isReadonly' %}active{% endif %}"><a href="/ohmycache/isReadonly">isReadonly</a></li>
    </ul>
  </section>

  <section class="nav-section">
    <h1>More</h1>
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="{% if page.section == 'changelog' %}active{% endif %}"><a href="/ohmycache/changelog">Changelog</a></li>
      <li role="presentation"><a href="https://github.com/ozee31/ohmycache">Repository</a></li>
      <li role="presentation"><a href="https://github.com/ozee31/ohmycache/issues">Issues</a></li>
    </ul>
  </section>
</div>