<article>
    <h2 class="h3">CacheCleaner</h2>

    <table>
      <tbody>
        <tr>
          <th>Type</th>
          <td>Plugin (shell)</td>
        </tr>
        <tr>
          <th>Etat</th>
          <td>Stable</td>
        </tr>
        <tr>
          <th>Compatibilité</th>
          <td>CakePHP 3.x</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>
            Ce plugin pour CakePHP 3.x permet de néttoyer le cache de votre application en production (très utile après une mise en production). Il gère le système de cache de fichiers (dossier tmp), le cache ORM, le cache applicatif (cakephp), ainsi que l'Opcache.
          </td>
        </tr>
        <tr>
          <th>Dépendences</th>
          <td>
            Aucune
          </td>
        </tr>
        <tr>
          <th>Licence</th>
          <td><a href="https://opensource.org/licenses/mit-license.php">MIT</a></td>
        </tr>
        <tr>
          <th>Lien</th>
          <td>
            <ul class="list-unstyled">
              <li><a href="https://github.com/DaoAndCo/cakephp-cachecleaner">Documentation</a></li>
              <li><a href="https://github.com/DaoAndCo/cakephp-cachecleaner">Dépôt Github</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </article>