<article>
    <h2 class="h3">Cors</h2>

    <table>
      <tbody>
        <tr>
          <th>Type</th>
          <td>Plugin</td>
        </tr>
        <tr>
          <th>Etat</th>
          <td>Stable</td>
        </tr>
        <tr>
          <th>Compatibilité</th>
          <td>CakePHP 3.3.x</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>
            Ce plugin pour CakePHP 3.3.x permet d'activer le CrossDomain sur votre application CakePHP
          </td>
        </tr>
        <tr>
          <th>Dépendences</th>
          <td>
            Aucune
          </td>
        </tr>
        <tr>
          <th>Licence</th>
          <td><a href="https://opensource.org/licenses/mit-license.php">MIT</a></td>
        </tr>
        <tr>
          <th>Lien</th>
          <td>
            <ul class="list-unstyled">
              <li><a href="https://github.com/ozee31/cakephp-cors">Documentation</a></li>
              <li><a href="https://github.com/ozee31/cakephp-cors">Dépôt Github</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </article>