<article>
    <h2 class="h3">Logging</h2>

    <table>
      <tbody>
        <tr>
          <th>Type</th>
          <td>Plugin</td>
        </tr>
        <tr>
          <th>Etat</th>
          <td>Stable</td>
        </tr>
        <tr>
          <th>Compatibilité</th>
          <td>CakePHP 3.x</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>
            Initialement conçu pour permettre la journalisation des actions des utilisateurs, ce plugin vous permet de stocker n'importe quels évenements dans votre base de données. Il est également accompagné d'un component qui permet de stocker à la demande (ou de manière automatique) des données comme l'objet Session ou l'objet Request
          </td>
        </tr>
        <tr>
          <th>Dépendences</th>
          <td>Aucune</td>
        </tr>
        <tr>
          <th>Licence</th>
          <td><a href="https://opensource.org/licenses/mit-license.php">MIT</a></td>
        </tr>
        <tr>
          <th>Lien</th>
          <td>
            <ul class="list-unstyled">
              <li><a href="https://github.com/DaoAndCo/cakephp-logging">Documentation</a></li>
              <li><a href="https://github.com/DaoAndCo/cakephp-logging">Dépôt Github</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </article>