<article>
    <h2 class="h3"><a href="ohmycache/">OhMyCache</a></h2>

    <table>
      <tbody>
        <tr>
          <th>Type</th>
          <td>Librairie</td>
        </tr>
        <tr>
          <th>Etat</th>
          <td>Stable</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>
            Basé sur les API LocalStorage et SessionStorage, cette librairie permet de stocker n'importe quel type de données (string, json, array...) et ajoute la possibilité de les enregistrer de manière temporaire et/ou en lecture seule.
          </td>
        </tr>
        <tr>
          <th>Développement</th>
          <td>
            Grâce à <a href="https://webpack.github.io/">Webpack</a>, la librairie est côdée en ECMAScript 2015 (puis compilé grâce à Babel). De plus elle utilise le pattern <a href="https://github.com/umdjs/umd">UMD</a>, ce qui la rend compatible AMD, CommonJS...
          </td>
        </tr>
        <tr>
          <th>Dépendences</th>
          <td>
            Aucune
          </td>
        </tr>
        <tr>
          <th>Licence</th>
          <td><a href="https://opensource.org/licenses/mit-license.php">MIT</a></td>
        </tr>
        <tr>
          <th>Lien</th>
          <td>
            <ul class="list-unstyled">
              <li><a href="ohmycache/">Documentation</a></li>
              <li><a href="https://github.com/ozee31/ohmycache">Dépôt Github</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </article>